

$opensfw-primary-fg: #313c4e; // Oxford Blue
$opensfw-secondary-fg: #525f75; // Comet
$opensfw-neutral: #7e8ba0; // Regent Grey
$opensfw-primary-bg: #dde2ee; // Botticelli
$opensfw-secondary-bg: #a1a9ba; // GullGray


$link-color: $opensfw-primary-fg;